<div class="container">
    <div class="col-sm-offset-4">
        <div class="row justify-content-center">
            Hi Welcome to Music Cloud.<br />
            <p>
                You can <a ui-sref="search">search for artists</a> and check out their releases and
                <ul>
                    <li>Add to default favourite list or</li>
                    <li>Add to you own created <a ui-sref="favourite">favourite list</a></li>
                    <li>You can also manage for own created <a ui-sref="favourite">favourite list</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>