<!DOCTYPE html>
<html ng-app="music">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Cloud</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <base href="/">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Music Cloud</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="search">Search Artist</a></li>
                <li><a ui-sref="favourite">Favourite List</a></li>
            </ul>
        </div>
    </nav>

    <div ui-view></div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>